
img{
  width: 100%;
}

.newsWrapper{
  @include tablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.newsBox{
  background-size:cover;
  position: center;
  display: flex;
  flex-flow:column nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 400px
}

.newsCaption{
  line-height: 1rem;
  display: flex;
  flex-flow: center nowrap;
  align-items: center; 
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 5px 0px 5px 0px;
  height: 100px;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  width: 100%
}





