
img{
  width: 100%;
}

.newsWrapper{
  @include tablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.newsBox{
  @include background;
  @include flexCenter;
  justify-content: flex-end;
  flex-direction:column;
  height: 400px;
  overflow: hidden;
  opacity: 50%;
}

.newsCaption {
  transition: all ease 0.8s;
  @include flexCenter;
  justify-content: center;
  flex-flow: row nowrap;
  text-decoration: none;
  text-align: center;
  color: $base-colorf;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100px;
  font-weight: 300;
  line-height: 1.5rem;
  height: 170px;
  @include desktop{
    height: 0px;
    overflow: hidden;
  }

}


.newsBox:hover .newsCaption { 
  @include desktop{
    height: 250px;
  } 
}








