
img{
  width: 100%;
}

.newsWrapper{
  @include tablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.newsBox{
  background-size:cover;
  background-position: center;
  position: center;
  display: flex;
  flex-flow:column nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.newsCaption {
  transition: all ease 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  text-decoration: none;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height:100px;
  font-weight: 300;
  line-height: 1.5rem;
  height: 170px;
  @include desktop{
    height: 0px;
    overflow: hidden;
  }

}


.newsBox:hover .newsCaption { 
  @include desktop{
    height: 250px;
  } 
}







