body{
  flex-direction: column; 
  background-color: black;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  align-content: center;
}

footer{
  color:white;
  text-align: center;
}