body{
  flex-direction: column; 
  background-color: black;
  @include flexCenter;
  font-family: $base-famfont;
  color: $base-colorf;
  font-weight: 300;
  font-style: normal;
  @include tablet{
    align-items: inherit;
  }
}

a {
  text-decoration: none;
}

.loader{
  display: none;
  align-self: center; 
  width: 50px;
}

footer{
  color:#c2c2c2;
  text-align: center;
  padding: 10px;
  height: 25px;
  bottom: 0;
  @include flexCenter;
  @include desktop{
    align-items: inherit;
    padding-left:60px;
  }
}