
html{
  font-size: 16px;
}
body{
  flex-direction: column; 
  background-color: black;
  @include flexCenter;
  font-family: $base-famfont;
  color: $base-colorf;
  font-weight: 300;
  font-style: normal;
  @include desktop{
    align-items: inherit;
  }
}

a {
  text-decoration: none;
  width: 100%;
}

.loader{
  display: none;
  align-self: center; 
  width: 50px;
}

footer{
  color:#c2c2c2;
  text-align: center;
  padding: 10px;
  height: 25px;
  bottom: 0;
  @include flexCenter;
  @include desktop{
    align-items: inherit;
    padding-left:60px;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 0px;
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: red;
  color: white; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  @include desktop{
    right: 30px;
  }
}

#myBtn:hover {
  background-color: #555; 
}