$primary-color: #333;
$desktop-width: 1000px;
$tablet-width: 600px;
$base-colorf : #ffffff;
$base-famfont : 'Open Sans';

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin flexCenter{
  display: flex;
  align-items: center; 
  // justify-content: space-between;
}

@mixin background{
  background-size:cover;
  background-position: center;
  position: center;
}